# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio Temporary files
~$*

# CMake Framework Default Folder Names
_build_*_*
_start_msvc.bat

#LibreOffice tmp file
.~*

